section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section > .layout {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}

section > .head {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

section > .head > h2 {
    font-size: .9em;
}