@use "../../../../../variables.scss";
@use "../../../../../mixins.scss";

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section > .head {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

section > .head > h2 {
    font-size: .9em;
}

table {
    width: 100%;
    text-align: left;
    border-spacing: 0 .35em;
}

table > thead > tr > th {
    padding: 0 1.5em;
    padding-bottom: .65em;
    font-weight: 600;
}

table > tbody > tr > td {
    padding: .9em 1.5em;
    background-color: variables.$color-card;
    border: solid 1px variables.$color-card-border;
    border-left: 1px;
    @include mixins.color-scheme(dark) {
        background-color: variables.$dark-color-card;
        border-color: variables.$dark-color-card-border;
    }
}

table > tbody > tr:not(:first-child) {
    border-top: solid 1px variables.$color-card-border;
    @include mixins.color-scheme(dark) {
        background-color: variables.$dark-color-card;
        border-color: variables.$dark-color-card-border;
    }
}

table > tbody > tr > td:first-child {
    background-color: variables.$color-card;
    border-left: solid 1px variables.$color-card-border;
    @include mixins.color-scheme(dark) {
        background-color: variables.$dark-color-card;
        border-color: variables.$dark-color-card-border;
    }
}

table > tbody > tr > td:last-child {
    border-right: solid 1px variables.$color-card-border;
    @include mixins.color-scheme(dark) {
        border-color: variables.$dark-color-card-border;
    }
}

table > thead > tr > th:first-child,
table > tbody > tr > td:first-child {
    width: 10%;
}