@use "../../../../../variables.scss";
@use "../../../../../mixins.scss";

div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .8em;
    line-height: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: variables.$color-card;
    border: solid 1px variables.$color-card-border;
    padding: variables.$xl-padding;
    @include mixins.color-scheme(dark) {
        background-color: variables.$dark-color-card;
        border-color: variables.$dark-color-card-border;
    }
}

div > span:first-child {
    font-size: 1em;
}

div > span:last-child {
    font-size: 2.5em;
    font-weight: 600;
}