<table>
    <thead>
        <tr>
            @for (th of thead(); track $index) {
                <th>{{th}}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of tbody(); track $index) {
            <tr>
                @for (td of row; track $index) {
                    <td>
                        @if (withLinks()) {
                            <a [routerLink]="`./${row[0]}`">
                                {{td}}
                            </a>
                        } @else {
                            {{td}}
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>