@use "./variables.scss";
@use "./mixins.scss";

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent !important;
    background: transparent;
}

html {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 16px;
}

body {
    width: 100%;
    height: fit-content;
    min-height: 100dvh;
    background-color: variables.$color-background;
    color: variables.$color-foreground;
    font-family: 'Poppins', sans-serif;
    @include mixins.color-scheme(dark) {
        background-color: variables.$dark-color-background;
        color: variables.$dark-color-foreground;
    }
}

input, textarea, button, a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    font-family: inherit;
}

svg path {
    stroke: currentColor !important;
    fill: currentColor !important;
}