$color-background: #EEE;
$color-foreground: #111;
$color-card: #FFF;
$color-card-border: #AAA;
$color-primary: rgb(166, 194, 43);
$color-primary-foreground: #000;

$dark-color-background: #1A1A1A;
$dark-color-foreground: #FFF;
$dark-color-card: #222;
$dark-color-card-border: #333;
$dark-color-primary:rgb(222, 255, 139);
$dark-color-primary-foreground: #000;

$xl-radius: 1.5em;
$md-radius: 1em;
$sm-radius: .75em;

$xl-padding: 2em;
$md-padding: .75em;
$sm-padding: .5em;

$container-padding: 10em calc(50% - 50em);
$laptop-container-padding: 10em;
$tablet-container-padding: 5em;
$mobile-container-padding: 2.5em;