$color-background: #EEE;
$color-foreground: #111;
$color-card: #FFF;
$color-card-border: #DDD;
$color-primary: rgb(255, 232, 128);
$color-primary-foreground: #000;
$color-text-primary: rgb(59, 49, 0);

$dark-color-background: #1A1A1A;
$dark-color-foreground: #FFF;
$dark-color-card: #222;
$dark-color-card-border: #333;
$dark-color-primary:rgb(222, 255, 139);
$dark-color-primary-foreground: #000;
$dark-color-text-primary:rgb(227, 255, 143);

$xl-radius: 1.5em;
$md-radius: 1em;
$sm-radius: .75em;

$xl-padding: 1.5em;
$md-padding: .75em;
$sm-padding: .5em;