$color-background: #EEE;
$color-foreground: #111;
$color-card: #FFF;
$color-card-border: #CCC;
$color-primary: rgb(188, 202, 248);
$color-primary-foreground: #000;
$color-text-primary: rgb(30, 102, 145);

$dark-color-background: #1A1A1A;
$dark-color-foreground: #FFF;
$dark-color-card: #222;
$dark-color-card-border: #333;
$dark-color-primary:rgb(139, 212, 255);
$dark-color-primary-foreground: #000;
$dark-color-text-primary:rgb(143, 210, 255);

$xl-padding: 1.5em;
$md-padding: .75em;
$sm-padding: .5em;